body{
  margin: 0px 30px;
  font-family: 'Roboto', sans-serif;
  background: #d3d3d3;
}
div{
  display:flex;
  justify-content: center;
  align-items: center;
}
img{
  border-radius: 100%;
  border: 3px solid orange;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
hr{
  background: black;
  border: none;
}
footer{
  margin: 20px 0px;
}
