body{
  margin: 0px 30px;
  font-family: 'Poppins', sans-serif;
  background: #d3d3d3;
}
header{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul{
  display:flex;
  align-items: center;
  justify-content: space-between;
}


h1{
  display: inline-block;
}
div{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
img{
  border-radius: 100%;
  border: 3px solid orange;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 30px;
}
hr{
  background: black;
  border: none;
}
footer{
  margin: 20px 0px;
}
