body{
  margin: 0px 30px;
  font-family: 'Roboto', sans-serif;
  background: #d3d3d3;
}
img{
  border-radius: 100%;
  border: 3px solid orange;
}
hr{
  background: black;
  border: none;
}
footer{
  margin: 20px 0px;
}
